/* styles.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    margin-bottom: 80px;
    line-height: 1.4em;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;

}

/* Add to styles.css */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body {
    padding-top: 250px; /* Adjust based on the header's height to ensure content is not hidden behind it */
}

.profile-img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    transform: scale3d(1.2, 1.2, 1.2);
    border-width: 2px;
    border-color: white;
    border-style: double;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}